<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div id="app">
    <div class="panel panel-primary">
          <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
          </div>
          <div class="panel-body form-inline">
                   <label>
                        Name:
                        <input type="text" v-model='name' class="form-control">
                    </label>
                    <input type="button" value="添加" @click="add" class="btn btn-primary">
          </div>
    </div>
    

    <table class="table table-bordered  table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ctime</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in list" :key="item.id">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ctime}}</td>
                <td>
                    <a href="" @click.prevent="del(item.id)">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>

<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/vue-resource/dist/vue-resource.js"></script>
<script>
    Vue.http.options.root = 'http://localhost:9090/';
    var vm = new Vue({
        el: '#app',
        data: {
            name:'',
            list: [
            ]
        },
        created(){ //当 vm实例 的data 和method 初始化完毕后， vm实例会自动执行created 这个生命周期函数
            this.getAllList();
        },
        methods: {
            del(id){
                this.$http.post('mysql/delCar',{ "id": id }).then(
                    result=>{
                        if(result.body === 1){
                            //成功了！
                            this.getAllList();
                        }  else {
                            alert('删除失败！！！')
                        }
                    }
                )
            },
            add(){
                this.$http.post('mysql/addCar',{ "name": this.name }).then(
                    result=>{
                      if(result.body === 1){
                          //成功了！
                          this.getAllList();
                          //清空 name
                          this.name ="";
                      }  else {
                          alert('添加失败！！！')
                      }
                    }
                )
            },
            getAllList(){ // 获取所有车的品牌列表
                this.$http.get('mysql/carList').then(result =>{
                    result = result.body;
                    if(result!=null){
                        this.list = result;
                    }else{
                       alert('无数据！！！')
                    }
                },error =>{
                    alert('请求错误！！！'+error)
                })
            }
        }
    })

</script>
</body>
</html>